<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<!-- start Mixpanel -->
<script type="text/javascript">var mpq=[];mpq.push(["init","194cfdaa5f9d8b24331a12c9f7f9257a"]);(function(){var b,a,e,d,c;b=document.createElement("script");b.type="text/javascript";b.async=true;b.src=(document.location.protocol==="https:"?"https:":"http:")+"//api.mixpanel.com/site_media/js/api/mixpanel.js";a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(b,a);e=function(f){return function(){mpq.push([f].concat(Array.prototype.slice.call(arguments,0)))}};d=["init","track","track_links","track_forms","register","register_once","identify","name_tag","set_config"];for(c=0;c<d.length;c++){mpq[d[c]]=e(d[c])}})();
</script>
<!-- end Mixpanel -->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ page.title }}</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="/css/style.css">
  <script src="/js/libs/modernizr-2.0.6.min.js"></script>
</head>
<body id="{{ page.bodyid }}">
<div id="container">
<header>
  <h1 id="root"><a href="/">Corey Grunewald</a></h1>
  <nav>
    <ul>
      <li><a href="/">Projects</a></li>  
      <li><a href="/writing/">Writing</a></li>
      <li><a href="/about/">About</a></li>
    </ul>
  </nav>
</header>
<div id="main" role="main">
{{ content }}
</div>
</div> <!--! end of #container -->
<footer>
<p>Corey Grunewald&nbsp;&rarr;&nbsp;&copy;{{ 'now' | date: "%Y" }}</p>
</footer>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/js/libs/jquery-1.6.2.min.js"><\/script>')</script>
<script src="http://a.vimeocdn.com/js/froogaloop2.min.js"></script>

<script defer src="/js/plugins.js"></script>
<script defer src="/js/script.js"></script>

<script> // Change UA-XXXXX-X to be your site's ID
  window._gaq = [['_setAccount','UAXXXXXXXX1'],['_trackPageview'],['_trackPageLoadTime']];
  Modernizr.load({
    load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
  });
</script>

<!--[if lt IE 7 ]>
  <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
  <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
<![endif]-->
  
</body>
</html>
